@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #f5f5f5;
}